<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/listings">Buy And Sell</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!--  Dark Mode Toggle -->
        <li class="nav-item d-flex align-items-center">
          <div class="form-check form-switch d-flex align-items-center text-dark ms-3 mb-0">
            <input class="form-check-input border border-primary" type="checkbox" id="darkModeSwitch"
              [(ngModel)]="isDarkMode" (change)="toggleDarkMode()" />
            <label class="form-check-label ms-1 mb-0" for="darkModeSwitch" style="font-weight: 350;">
              Dark Mode
            </label>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link " routerLink="/listings">Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-listings">My Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-chat">Chat</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/chat">
            My Chat
          </a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-danger ms-2" (click)="onSignOut()">Sign Out</button>
        </li>

      </ul>
    </div>
  </div>
</nav>