<div class="message-container">
  <div *ngFor="let senderEmail of groupedMessages | keyvalue">

    <div class="message-box" *ngFor="let msgEntry of senderEmail.value | keyvalue" (click)="openMessageDetail(msgEntry.key, senderEmail.key)">
      <h4>👤 {{ senderEmail.key }}</h4>

      <strong>Listing: {{ msgEntry.value.listingName }}</strong><br />
      <span>{{ msgEntry.value.message.message }}</span><br />
      <small class="text-muted">{{ msgEntry.value.message.timestamp | date:'short' }}</small>
    </div>
  </div>
</div>
